.cubosbg {
    background-image: url("../img/rubikColours.png");
    background-size: cover;
}

.modal-content {
    width: fit-content !important;
    width: -moz-fit-content !important;
    margin: auto !important;
}

.modal-dialog {

    max-width: 95% !important;

}

table.centerCols th, table.centerCols td {
    text-align: center;
    vertical-align: middle !important;
}

.borderLeftColumn {
    border-left: solid 1px rgba(0, 0, 0, 0.5);
}

.login-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.whitePanel {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 20px;
    margin: 5px;
    border-radius: 20px;
}

.whitePanel.left {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: 0;
}

.whitePanel.right {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-right: 0;
}

.whitePanel.top {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    margin-top: 0;
}

footer.credit {
    width: 100%;
    text-align: center;
    background-color: rgba(240, 248, 255, 0.75);
}

.vertical-flex-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.flexCenter {
    display: flex;
    justify-content: center;
}

div.bouncyContainer {

    transition: 0.3s;
    height: 300px;
    width: 300px;
}

a.bouncyContainer {

    z-index: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

img.bouncyButton {
    transition: 0.3s;
    height: 65%;
    width: 65%;
    -webkit-filter: drop-shadow(7px 7px 7px #222);
    filter: drop-shadow(7px 7px 7px #222);

}

.bouncyButton:hover {
    animation: bounce 0.3s;
    height: 80%;
    width: 80%;
}

@keyframes bounce {

    25% {
        height: 100%;
        width: 100%;
    }
    100% {
        height: 80%;
        width: 80%;
    }

}

.back {
    position: absolute;
    top: -30px;
}

img.bouncyButton.podio {
    filter: drop-shadow(2px 2px 2px #222);
    -webkit-filter: drop-shadow(2px 2px 2px #222);
}

div.forward, div.backward {
    width: 90px;
    height: 90px;
}

img.bouncyButton.forward {
    filter: drop-shadow(3px 3px 3px #222);
    -webkit-filter: drop-shadow(3px 3px 3px #222);
}

img.bouncyButton.backward {
    filter: drop-shadow(-3px 3px 3px #222);
    -webkit-filter: drop-shadow(-3px 3px 3px #222);
}


.puntuacion {

    padding: 10px !important; /* white panel */
    position: absolute;
    top: -30px;
    right: -30px;
    transform: rotate(15deg);
    display: inline;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.76);

}

.categoriaEncontrada {
    background-color: rgba(233, 244, 255, 0.96);
}


.miSelect {
    width: auto !important;
    font-size: 20px !important;
    height: auto !important;
}

.playoffsText {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-weight: bold;
    font-family: 'Rajdhani', sans-serif;
    font-size: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
}

tr.ultimoClasificado td, td.ultimoClasificado {

    border-bottom: solid 1px rgba(0, 0, 0, 0.6);
}

.clasificado {
    background-color: #f8fdff !important;
    font-weight: bold;
}

.descalificado {
    background-color: #fde7e7 !important;
}


.clasificado td, .descalificado td {
    font-weight: bold;
    border-top: 0 !important;
}


.clasificado.participanteEncontrado, .participanteEncontrado {
    background-color: #e9f4ff !important;
}

h1, h2, h3 {

    font-family: 'Rajdhani', sans-serif !important;
    margin-bottom: 0px !important;

}

h1 {
    font-size: 50px !important;
}

h2 {
    margin-top: 10px !important; /* TODO: poner inline solo donde se use*/
    margin-bottom: 10px !important;
    font-size: 40px !important;
}

h3 {
    font-size: 25px !important;
}

.invisible {
    visibility: hidden;
}