.scrambleDrawWrapper {
    width: 50%;
    margin: auto;
}
.scrambleDrawWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}
.scrambleDrawWrapper div {

}

.scrambleDrawWrapper div::before {
    content: "";
    grid-row: 1;
    grid-column: 1;
    padding-bottom: 100%;
    display: inline-block;
    vertical-align: top;
}

.face {
    display: grid;
    grid-gap: 5px;
}

.sticker{
    border: solid 3px;
    border-radius: 5px; /*TODO: DEPENDIENDO DE SIZE*/
    background-color: black;
}