<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Cambios</title>
    <th:block th:include="fragments/head :: genericHead"></th:block>
</head>


<body class="cubosbg">
<div th:replace="fragments/backButton :: backButton"/>
<div class="vertical-flex-wrapper">
    <div class="whitePanel" style="margin-top: 80px; text-align: center">
        <h1>Notas del desarrollo</h1>
        <h3>Aquí puedes informarte de los últimos cambios que se aplican a la web.</h3>
        <h3><a href="/#contacto">Sugerencias</a></h3>
    </div>
    <div class="whitePanel" style="margin-top: 100px; width: 80%;">


        <hr style="margin-top: 50px" />
        <h1>24/03/2021</h1>
        <h2>v1.1.13</h2>
        <ul>
            <li>Incorporado un sistema para que la organización pueda banear usuarios. Los usuarios baneados no pueden inscribirse en competiciones.</li>
        </ul>


        <hr style="margin-top: 50px" />
        <h1>16/03/2021</h1>
        <h2>v1.1.12</h2>
        <ul>
            <li>En la temporada puedes consultar los bracket de los playoffs de la misma, en la parte inferior.</li>
            <li>Añadida la competición especial de una sola jornada de Pascua:  <img src="img/copas/copa_Pascua%20Online.png" style="width: 50px" /></li>
            <li>Si acabas de incorporarte a una temporada, aparecerá un aviso de "pendiente de clasificación" en el perfil hasta que acabe la jornada y se reemplace por la insignia de la división.</li>
            <li>Arreglos y mejoras varias.</li>
        </ul>

        <hr style="margin-top: 50px" />
        <h1>13/03/2021</h1>
        <h2>v1.1.11</h2>
        <ul>
            <li>¡En los perfiles aparecen las insignias de las divisiones que el competidor está disputando en las temporadas! Puedes verlo en el primer apartado de cualquier perfil que haya participado en una temporada.</li>
        </ul>

        <hr style="margin-top: 50px" />
        <h1>11/03/2021</h1>
        <h2>v1.1.10</h2>
        <ul>
            <li>Gran mejora en la velocidad del sitio, especialmente al cargar un perfil de participante y en los ranking.</li>
            <li>Animaciones a los iconos de las competiciones de temporada en la página de inicio.</li>
            <li>Las divisiones más bajas a la 9 no tenían icono, y como con tantos participantes hay más de 9, ahora se muestra una imagen con el número de la división.</li>
        </ul>

        <hr style="margin-top: 50px" />
        <h1>02/03/2021</h1>
        <h2>v1.1.9</h2>
        <ul>
            <li>Ahora puedes ver en el ranking de la jornada las mezclas que hubieron en esa jornada una vez finalizada. Echa un ojo por ejemplo a la mezcla de <a href="/ranking/Febrero%20Online/3x3x3/jornada/1">3x3x3 de la primera jornada del Febrero Online</a>.</li>
            <li>Aumentado el rango de carácteres exrtaños que se pueden usar en las explicaciones de FMC.</li>
            <li>Otros arreglos técnicos y mejoras visuales menores.</li>
        </ul>

        <hr style="margin-top: 50px" />
        <h1>01/03/2021</h1>
        <h2>v1.1.8</h2>
        <ul>
            <li>Añadido calendario para los playoffs de las temporadas. Puedes ver el de Primavera 2021 <a href="/temporada/Primavera%202021">aquí</a>.</li>
            <li>Las categorías ahora se ordenan en todas partes con el mismo orden.</li>
        </ul>


        <hr style="margin-top: 50px" />
        <h1>22/02/2021</h1>
        <h2>v1.1.7</h2>
        <ul>
            <li>Los empates en los rankings de jornada ahora se visualizan y calculan correctamente (ambos participantes comparten la posición más elevada y sus puntos). Puedes ver un ejemplo en <a href="/ranking/San%20Valentín%20Online/FMC/jornada/1">FMC del San Valentín Online</a>.</li>
        </ul>

        <hr style="margin-top: 50px" />
        <h1>21/02/2021</h1>
        <h2>v1.1.6</h2>
        <ul>
            <li>Ahora la página de podios es flexible para mostrar un posible empate, como ha ocurrido en <a href="/podios/San%20Valentín%20Online/"> FMC del San Valentín Online</a>.</li>
            <li>Corregido el comportamiento al introducir uno o más de dos decimales en centésimas.</li>
            <li>Ya son muchos campeonatos en el perfil, por lo que las competiciones completadas y futuras ahora aparecen ordenadas cronológicamente (más cercanas primero).</li>
            <li>Añadidos metadatos para redes sociales a las páginas de las divisiones y temporadas.</li>
            <li>Correcciones y cambios estéticaos varios.</li>
        </ul>


        <hr style="margin-top: 50px" />
        <h1>16/02/2021</h1>
        <h2>v1.1.5</h2>
        <ul>
            <li>Añadida nueva competición especial: Pi Online. <img src="img/copas/copa_Pi%20Online.png" style="width: 50px" /></li>
            <li>Se ha vuelto a las imágenes de mezclas de Skewb original, para mantener exactamente la estética original de los campeonatos presenciales.</li>
            <li>Arreglo de errores varios. Entre ellos, uno que causaba tiempos con una centésima más de la introducida. Si crees que has sufrido este error, ponte en contacto con organización para corregirlo.</li>
        </ul>

        <hr style="margin-top: 50px" />
        <h1>10/02/2021</h1>
        <h2>v1.1.4</h2>
        <ul>
            <li>He creado el <a href="/Scrambler#Skewb">mezclador</a> de Skewb, que se usará para mostrar las imágenes de las mezclas al participar, en lugar de una imagen fija y recortada a mano. <br />
                El beneficio principal es ahorrar tiempo a la organización. Puedes probarlo <a href="/Scrambler#Skewb">aquí</a>.</li>
        </ul>

        <hr style="margin-top: 50px" />
        <h1>08/02/2021</h1>
        <h2>v1.1.3</h2>
        <ul>
            <li>Nuevo apartado en inicio para las divisiones, con un nuevo logo <img src="/img/corona.png" style="width: 50px;"/>, y se han hecho más visibles las Temporadas en el perfil de las competiciones.</li>
            <li>Muchos cambios en el apartado de selección de categoría:
                <ul>
                    <li>Cuando selecciones una al participar se te pedirá confirmación y se te recordará que debes estar grabando (excepto en FMC). Esto sustituye la alerta fija anterior.</li>
                    <li>Los iconos son más grandes.</li>
                    <li>Aparece una alerta en los iconos de las categorías que hayas comenzado y no hayas finalizado y por lo tanto el tiempo siga corriendo.</li>
                </ul>
            </li>
        </ul>


        <hr style="margin-top: 50px" />
        <h1>31/01/2021</h1>
        <h2>v1.1.2</h2>
        <ul>
            <li>En el perfil de las competiciones ahora aparece información de los sorteos que se realizarán. Echa un vistazo a los campeonatos mensuales, como <a href="/competicion/Febrero%20Online">Febrero Online</a>.</li>
            <li>Añadido aviso en inicio de que el navegador no es compatible. Esta medida será temporal hasta que la web soporte Safari.</li>
        </ul>


        <hr style="margin-top: 50px" />
        <h1>30/01/2021</h1>
        <h2>v1.1.1</h2>
        <ul>
            <li>Añadidos los datos de las clasificaciones a la página de Temporada.</li>
            <li>Ahora puedes inscribirte en una competición ya comenzada (con el límite de inscripciones).</li>
            <li>Con la sesión iniciada, las competiciones en curso con las inscripciones abiertas aparecen en "competiciones en curso" de tu perfil,
                tanto si has participado en ellas como si no. Desde ahí puedes cambiar las inscripciones.</li>
            <li>En el perfil de las competiciones también aparece la ficha de inscripción mientras estas estén abiertas, con toda la información del estado de tu inscripción en mensajes personalizados.</li>
            <li>Añadido Maskekubos a la información de  <a href="/#sorteos">sorteos</a>.</li>

        </ul>


        <hr style="margin-top: 50px" />
        <h1>27/01/2021</h1>
        <h2>v1.1.0</h2>
        <ul>
            <li>Añadida la página de Temporada, puedes acceder a ella desde los enlaces de inicio o de las competiciones.</li>
            <li>Añadidas las divisiones ya son accesibles.</li>
            <li>Se ha rediseñado inicio para mostrar la Liga y las nuevas competiciones (Primavera, Abril, Mayo y Verano).</li>
            <li>Mejorada la visualización de la página de inicio en Chrome 88, Chrome móvil y Firefox.</li>
        </ul>


        <hr style="margin-top: 50px" />
        <h1>25/01/2021</h1>
        <h2>v1.0.11</h2>
        <ul>
            <li>Añadido apartado <a href="/#liga">liga</a> a información y se ha reescrito parte del resto.</li>
            <li>Mejorada la visualización de la página de inicio en Chrome 88, Chrome móvil y Firefox.</li>
        </ul>

        <hr style="margin-top: 50px" />
        <h1>24/01/2021</h1>
        <h2>v1.0.10</h2>
        <ul>
            <li>Se ha añadido el sistema de divisiones de la Liga, actualmente está en fase de pruebas, pero pronto podrás verlo. Se ha añadido la sección de la Liga a la página de inicio.</li>
            <li>¡Nuevo campeonato añadido!: San Valentín Online</li>
            <li>Ahora las medias se calculan correctamente: truncando el segundo decimal tras el redondeo.</li>
            <li>Comenzado el trabajo de hacer la web más responsive en móviles. Queda bastante trabajo, especialmente en horizontal.</li>
            <li>Arreglo de fallos y mejoras técnicas y visuales menores.</li>
        </ul>

        <hr style="margin-top: 50px" />
        <h1>20/1/2021</h1>
        <h2>v1.0.9</h2>
        <ul>
            <li>Mensajes personalizados de error en los 404.</li>
            <li>Por petición popular, los colores de las mezclas ahora son más brillantes. En un futuro esto será configurable en el perfil, pudiendo elegir tanto la actual paleta de la WCA como la sustituida, de AES Online.</li>
            <li>Añadido Open Graph a los perfiles de participantes y competiciones (para que se vean más personalizadas las publicaciones en RRSS).</li>
        </ul>


        <hr style="margin-top: 50px" />
        <h1>18/1/2021</h1>
        <h2>v1.0.8</h2>
        <ul>
            <li>Ahora las mezclas que aparecen al participar de las categoriías NxN ya no son una imagen, sino generadas por la propia web.</li>
            <li>Cambios varios en el cacheado de la web. Puede provocar cambios indeseados. Recordad <a href="/#contacto">informar</a> de cualquier cosa extraña que veáis.</li>
            <li>Arreglado un fallo relacionado con participar.</li>
        </ul>

        <hr style="margin-top: 50px" />
        <h1>17/1/2021</h1>
        <h2>v1.0.7</h2>
        <ul>
            <li>Arreglo de errores causados por la actualización de la capa de persistencia en v1.0.5, siento las molestias causadas a todos, gracias por reportar los errores, ha sido muy útil para identificarlos.</li>
        </ul>


        <hr style="margin-top: 50px" />
        <h1>16/1/2021</h1>
        <h2>v1.0.6</h2>
        <ul>
            <li>Añadida la competición Febrero Online <img src="img/copas/copa_Febrero%20Online.png" style="width: 50px" />.</li>
            <li>Añadida una fecha de inscripción límite para cada competición, es decir, podrás inscribirte durante la primera jornada, aun con la competición comenzada.</li>
        </ul>


        <hr style="margin-top: 50px" />
        <h1>15/1/2021</h1>
        <h2>v1.0.5</h2>
        <ul>
            <li>Optimizado enormemente la capa de persistencia de datos. ¿Qué significa esto? Significa que navegar por la web ahora es mucho más rápido. Deberías notar un descenso muy notable en el tiempo en el que tardan en cargar las páginas.</li>
            <li>Cuadrado la tabla de competiciones en el perfil para que quede la imagen encima del texto y centrado.</li>
            <li>Ahora el engranaje de ajustes ya no parece un timón. <img src="img/ajustes.png" style="width: 50px" /></li>
        </ul>



        <hr style="margin-top: 50px" />
        <h1>14/1/2021</h1>
        <h2>v1.0.4</h2>
        <ul>
            <li>Mejorado el sistema de inicio de sesión. Ahora la sesión permanecerá abierta hasta que cierres sesión desde inicio con el botón <img src="img/logout.png" style="width: 50px" /> o hasta que se reinicie la web por motivo de una actualización (previsiblemente todas las noches).
                ¡Ya no se cerrará por estar media hora inactivo mientras participas en FMC!</li>
        </ul>


        <hr style="margin-top: 50px" />
        <h1>13/1/2021</h1>
        <h2>v1.0.3</h2>
        <ul>
            <li>Se está automatizando el sistema de mezclas. Para ello, he desarrollado una librería que convierte el texto de una mezcla a un dibujo.
                Actualmente funciona en NxN aunque espero ampliarlo a todas las categorías. Puedes probar el funcionamiento <a href="/scrambler">aquí</a>.</li>
        </ul>

        <hr style="margin-top: 50px" />
        <h1>12/1/2021</h1>
        <h2>v1.0.2</h2>
        <ul>
            <li>Ahora refrescar la página al participar no mostrará el mensaje de "ya has participado". En cambio, reanudará la cuenta atrás por donde corresponda.
                Esto no influye en la forma de participar, en el video se debe seguir mostrando una participación ininterrumpida.</li>
            <li>Creado esta página de cambios donde se registrarán los cambios y mejoras de ahora en adelante.</li>
            <li>Ahora la pantalla de información se carga al instante en inicio al compartir un link que la abra (<a href="/#tutoriales">tutoriales</a>, <a href="/#reglamento">reglamento</a>, <a href="/#sorteos">sorteos</a> y <a href="/#contacto">contacto</a>).</li>
            <li>Añadida pestaña de contacto en información.</li>
        </ul>

        <hr style="margin-top: 50px" />
        <h1>11/1/2021</h1>
        <h2>v1.0.1</h2>
        <ul>
            <li>Añadido al perfil un apartado de ajustes. Podrás verlo en tu perfil con la sesión iniciada <img src="img/ajustes.png" style="width: 50px" />. Por ahora las opciones disponibles son la configuración del correo y de las alertas que se deseen recibir. Hay 5 tipos de notificaciones que se pueden seleccionar de forma personalizada.</li>
            <li>Añadido a información el apartado <a href="/#sorteos">sorteos</a>.</li>
            <li>Arreglado un bug en el que la casilla de DNF no funcionaba en la quinta mezcla.</li>
        </ul>
    </div>
</div>
</body>
</html>