<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title th:text="${competicion.getNombre()}"/>
    <th:block th:include="fragments/head :: genericHead"/>
    <th:block th:include="fragments/head :: datatablesHead"/>

    <meta property="og:title" th:content="${nombreCompeticion}" />
    <meta property="og:description"  th:content="'Toda la información, inscripciones, jornadas, categorías y más de la competición ' + ${nombreCompeticion} + '.'"/>
    <meta property="og:image" th:content="'https://aesonline.speedcubingspain.org/img/copas/copa_' + ${competicion.getNombre()} + '.png'" />

    <script type="text/javascript" src="/js/ScrollUtils.js"></script>
    <script type="text/javascript" src="/js/ModalUtils.js"></script>
    <script type="text/javascript" src="/js/InscripcionUtils.js"></script>
    <script type="text/javascript" src="/js/TiempoUtils.js"></script>
    <link rel="stylesheet" href="/css/cubing-icons.css"/>
    <link rel="stylesheet" href="/css/tooltips.css"/>
    <link rel="stylesheet" href="/css/evento.css" />

</head>
<script th:inline="javascript">
    function irAWCA() {
        window.location = "https://www.worldcubeassociation.org/oauth/authorize?client_id=" + [[${@environment.getProperty('wca.clientId')}]] +
            "&amp;redirect_uri=" + [[${@environment.getProperty('wca.callbackUrlLogin')}]] + "&amp;response_type=code&amp;scope=public";
    }

    function participar() {
        window.location.href = '/participar/' + [[${nombreCompeticion}]];
    }

</script>

<body class="cubosbg">
<div th:replace="fragments/backButton :: backButton"/>
<div th:if="${competicion.isFinalizada()}" class="bouncyContainer forth">
    <a th:href="'/podios/' + ${nombreCompeticion}" class="bouncyContainer">
        <img class="bouncyButton makeSmaller" src="/img/podiologo.png"/>
    </a> <div class="tagNav"><h2 class="whitePanel" style="font-weight: bold; padding: 0 15px">PODIOS</h2></div>
</div>
<div class="vertical-flex-wrapper">
    <div class="whitePanel" style="margin-top: 80px;">
        <div style="display: flex; align-items: center; justify-content: center;">
            <img th:src="'/img/copas/copa_' + ${competicion.getNombre()} + '.png'" style="width: 100px"/>
            <h1 style="font-size: 3.5em !important;"><span th:text="${nombreCompeticion}"/></h1>
            <img th:src="'/img/copas/copa_' + ${competicion.getNombre()} + '.png'" style="width: 100px"/>
        </div>
    </div>
    <div class="whitePanel" style="max-width: 65%; margin-top: 40px; font-size: larger; text-align: center">
        <span th:text="${competicion.getDescripcion()}"/>
    </div>
    <div th:if="${temporada != null}" class="whitePanel" style="max-width: 65%; margin-top: 10px; font-size: larger; text-align: center">
        Esta competición pertenece a la
        <div style="display: flex; align-items: center; justify-content: center">
            <div class="bouncyContainer backward" style="width: 130px; height: 130px">
                <a th:href="'/temporada/' + ${temporada.getNombre()}" class="bouncyContainer">
                    <img class="bouncyButton backward" src="/img/corona.png"/>
                </a>
            </div>
            <a th:href="'/temporada/' + ${temporada.getNombre()}"> <h1 th:text="'Temporada ' + ${temporada.getNombre()}"/></a>
            <div class="bouncyContainer forward" style="width: 130px; height: 130px">
                <a th:href="'/temporada/' + ${temporada.getNombre()}" class="bouncyContainer">
                    <img class="bouncyButton forward" src="/img/corona.png"/>
                </a>
            </div>
        </div>

         Participa para avanzar en las divisiones, los primeros clasificados de la temporada pasarán a playoffs.
    </div>
    <div th:if="${competicion.getSorteosCompeticion().size() > 0}" class="whitePanel" style="max-width: 65%; margin-top: 10px; font-size: larger; text-align: center">
        <h1>Sorteos</h1>
        <div th:each="sorteo : ${competicion.getSorteosCompeticion()}">
            <a th:href="${sorteo.getSorteo().getLink()}"><img th:src="'/img/' + ${sorteo.getSorteo().getImagen()}" style="width: 50px"/></a>
            <span th:utext="${sorteo.getSorteo().getDescripcion()}"/>
            <a th:href="${sorteo.getSorteo().getLink()}"><img th:src="'/img/' + ${sorteo.getSorteo().getImagen()}" style="width: 50px"/></a>
        </div>
    </div>
    <div th:if="${competicion.inscripcionesEstanAbiertas()}" class="whitePanel" style="margin-top: 15px; font-size: larger; text-align: center">
        <div style="margin-top: 15px; font-size: larger; text-align: center">
            <h1>Inscripción</h1>
            Esta competición comienza el <span th:text="${competicion.getInicioStr()}" />.

        </div>
        <div th:if="${participanteLogeado != null}">
            La fecha límite de inscripción es <span th:text="${competicion.getFechaLimiteInscripcionesStr()}" />.
            <div style="display:flex; justify-content: center">
                <div th:each="evento : ${competicion.getEventos()}" class="tooltip" style="margin: 3px">
                        <span th:data-competicion="${competicion.getNombre()}"
                              th:data-categoria="${evento.getCategoria().getNombre()}" onclick="cambiarSeleccion(this)"
                              th:class="${'cubing-icon event-' + evento.getCategoria().getNombre() + ' clicker '+ (evento.isParticipanteInscrito(participanteLogeado) ? 'categoriaSeleccionada': 'categoriaDeseleccionada')}">
                            <!-- ::before -->
                        </span>
                    <span class="tooltiptext"
                          th:text="${evento.getCategoria().getNombre() + ': ' + (evento.getCortePlayOffs() == 0 ? 'No habrá playoffs': (evento.getCortePlayOffs() == 4 ? 'Habrá dos rondas de playoffs': (evento.getCortePlayOffs() == 8 ? 'Habrá tres rondas de playoffs': '')))}"/>
                </div>
            </div>
            <div class="tooltip">
                <button onclick="inscribirse(this)" th:data-competicion="${competicion.getNombre()}" class="btn btn-outline-primary" style="height: min-content; margin-top: 10px" disabled>
                    <svg style="vertical-align: middle" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>  <span th:text="${competicion.isParticipanteInscrito(participanteLogeado) ? 'Editar inscripción' : 'Inscríbete'}"/></button>
                <span class="tooltiptext">Selecciona las categorías en las que quieras participar</span>
            </div>
        </div>
        <div th:if="${participanteLogeado == null && competicion.inscripcionesEstanAbiertas()}">
            ¡Estás a tiempo de inscribirte! Para ello, inicia sesión:
            <div style="display: flex; justify-content: center; align-items: center">
                <div class="bouncyContainer backward" style="width: 50px; height: 50px">
                    <a class="bouncyContainer">
                        <img onclick="irAWCA()" class="bouncyButton" src="/img/WCAlogo.png"/>
                    </a>
                </div>
                <h3><a class="clicker" onclick="irAWCA()">Iniciar sesión con WCA</a></h3>
            </div>
        </div>
    </div>

    <div th:if="${jornadaActiva.isPresent()}" class="whitePanel" style="margin-top: 15px; font-size: larger; text-align: center">
        <div style="margin-top: 15px; font-size: larger; text-align: center">
            <h1>¡Hay una jornada en progreso ahora mismo!</h1>


            <span th:if="${participanteLogeado == null ||  competicion.isParticipanteInscrito(participanteLogeado)}">La <span th:text="${jornadaActiva.get().getNumeroJornada()}" />ª jornada acabará el <span th:text="${jornadaActiva.get().getFechaFinStr()}" />.</span>
            <span th:if="${participanteLogeado == null}">
                 Si estás inscrito, inicia sesión para participar:
                    <div style="display: flex; justify-content: center; align-items: center">
                        <div class="bouncyContainer backward" style="width: 50px; height: 50px">
                            <a class="bouncyContainer">
                                <img onclick="irAWCA()" class="bouncyButton" src="/img/WCAlogo.png"/>
                            </a>
                        </div>
                        <h3><a class="clicker" onclick="irAWCA()">Iniciar sesión con WCA</a></h3>
                    </div>
            </span>
            <span th:if="${participanteLogeado != null  && competicion.isParticipanteInscrito(participanteLogeado)}">
                 Hasta entonces, tienes tiempo para <br /> <button onclick="participar()" style="font-size: xx-large" class="btn btn-outline-primary">participar</button>
            </span>

            <span th:if="${participanteLogeado != null  && !competicion.isParticipanteInscrito(participanteLogeado) && !competicion.inscripcionesEstanAbiertas()}">
                 No estás inscrito en la competición, pero no te preocupes, ¡pronto habrán más!
            </span>
            <span th:if="${participanteLogeado != null  && !competicion.isParticipanteInscrito(participanteLogeado) && competicion.inscripcionesEstanAbiertas()}">
                ¡Aún estás a tiempo de inscribirte y participar ahora mismo!
            </span>
        </div>
    </div>

    <div class="whitePanel" style="margin-top: 15px; font-size: larger; text-align: center">
        <div style="font-size: larger; text-align: center">
            <h1>Jornadas</h1>
        </div>
        <div style="">
            <table class="table dataTable centerCols" style="font-size: 20px;">
                <thead>
                <th>Jornada</th>
                <th>Fecha de inicio</th>
                <th>Fecha de finalización</th>
                </thead>
                <tbody>
                <tr th:each="jornada : ${competicion.getJornadas()}">
                    <td>
                        <span th:text="${jornada.getNumeroJornada()}"/>
                    </td>
                    <td>
                        <span th:text="${jornada.getFechaInicioStr()}" />
                    </td>
                    <td>
                        <span th:text="${jornada.getFechaFinStr()}" />
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:if="${competicion.isEmpezada()}" class="whitePanel" style="margin-top: 15px; font-size: larger; text-align: center">
        <div style="font-size: larger; text-align: center">
            <h1>Categorías y rankings</h1>
           Estas son las categorías de la competición, puedes hacer click en una para ver el ranking general y de las jornadas:
        </div>
        <div style="display:flex; justify-content: center">
            <div th:each="evento : ${competicion.getEventos()}" style="margin: 3px">
                <a th:href="'/ranking/' + ${nombreCompeticion} + '/' +${evento.getCategoria().getNombre()}+'#'+${participanteLogeado != null ? participanteLogeado.getNombre() : ''}">
                    <span th:class="${'cubing-icon event-' + evento.getCategoria().getNombre() + ' clicker'}"
                          style="width: 10px;"/></a>
            </div>
        </div>
    </div>

    <div class="whitePanel" style="margin-top: 15px; font-size: larger; text-align: center; width: 90%;">
        <h1><span id="numParticipantesTotales">?</span><br />Participantes</h1>
        <div style="overflow: auto;">
            <table class="datatable table centerCols">
                <thead>
                <tr id="cats">
                    <th>Nombre</th>
                    <th class='cat' th:each="evento : ${competicion.getEventos()}">
                        <span id="catName" th:class="${evento.getCategoria().getNombre()}" th:text="${evento.getCategoria().getNombre()}" style="font-size: larger"/>
                        <br />(<span id="numParticipantes">?</span>)
                    </th>

                </tr>
                </thead>
                <tbody id="listaParticipantesCompeticion" style="background-color: white;">
                <tr th:each="participante : ${competicion.getCategoriasInscritasPorParticipanteMap()}">

                    <td><a th:href="'/participante/'+${participante.getKey().getNombre()}+'/' +  ${competicion.isEmpezada() ? competicion.getNombre() : ''}"><span th:text="${participante.getKey().getNombre()}" /></a></td>
                    <!-- No tocar las clases ni nada que afecte al recuento de categorías -->
                    <td class="insc" th:each="evento : ${competicion.getEventos()}">
                        <span th:class="${evento.getCategoria().getNombre()}" th:if="${participante.getValue().get(evento.getCategoria().getNombre()) != null}">
                            <a th:href="'/participante/'+${participante.getKey().getNombre()}+'/' +  ${nombreCompeticion} + '#' + ${evento.getCategoria().getNombre()}">
                                <span th:class="'cubing-icon event-' + ${evento.getCategoria().getNombre()}"/>
                            </a>
                        </span>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
        <script>

            //TODO: Rehacer de forma más resilente y, sobretodo, menos cutre...
            $("#cats > .cat").each(function(){

                $(this).find('#numParticipantes')[0].innerText = $('.insc > .'+$(this).find('#catName')[0].className).length;

            });

            $('#numParticipantesTotales')[0].innerText = $('#listaParticipantesCompeticion')[0].children.length;


        </script>

    </div>

</div>
</body>
</html>