<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title th:text="${nombreCompeticion}"></title>
    <th:block th:include="fragments/head :: genericHead"></th:block>
    <th:block th:include="fragments/head :: datatablesHead"></th:block>
    <script type="text/javascript" src="/js/ScrollUtils.js"></script>
    <script type="text/javascript" src="/js/ModalUtils.js"></script>
    <link rel="stylesheet" href="/css/evento.css" />

</head>


<body class="cubosbg">
<div th:replace="fragments/backButton :: backButton"/>
<div class="vertical-flex-wrapper">
    <div class="whitePanel" style="margin-top: 300px;">
        <h1 style="text-align: center;">
            ¡Pronto aparecerá aquí la página para <span th:text="${nombreCompeticion}" /> con toda la información!
        </h1>
    </div>
</div>
</body>
</html>