<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Autenticación WCA</title>
    <th:block th:include="fragments/head :: genericHead"></th:block>
    <link rel="stylesheet" href="/css/cubing-icons.css"/>
    <link rel="stylesheet" href="/css/tooltips.css"/>
</head>


<body class="cubosbg">
<div th:replace="fragments/backButton :: backButton"/>
<div class="vertical-flex-wrapper">
    <div class="whitePanel" style="margin-top: 300px; width: 80%; text-align: center">
        <h1 style="text-align: center;" > ¿En qué categoría quieres participar? </h1>
        <span th:each="inscripcion : ${inscripciones}">

                <div th:if="${!inscripcion.isFinalizado()}" class="tooltip" style="position:relative;">
                     <a onclick="abrirRecordatorio(this)" data-toggle="modal" th:data-target="${'#' + inscripcion.getNombreCategoria() + 'Modal'}"
                        th:data-categoria="${inscripcion.getNombreCategoria()}" th:data-comenzado="${inscripcion.isComenzado()}" style="cursor: pointer;">
                        <span th:class="${'cubing-icon big event-' + inscripcion.getNombreCategoria()}">
                            <img th:if="${inscripcion.isComenzado()}" src="/img/alerta.png" style="width: 50px;" class="absoluteCenter"/>
                            <!-- ::before -->
                        </span>
                    </a>
                    <span class="tooltiptext big" th:text="${inscripcion.isComenzado() ? 'Esta categoría está en curso, ¡el tiempo corre: entra y envía los tiempos!' : inscripcion.getNombreCategoria()}" />
                </div>


             <div th:if="${inscripcion.isFinalizado()}" class="tooltip" style="position:relative;">
                 <span  th:class="${'cubing-icon big event-' + inscripcion.getNombreCategoria()}">
                        <img src="/img/tick.png" style="width: 80px;" class="absoluteCenter"/>
                 </span>
                 <span class="tooltiptext big" th:text="${inscripcion.getNombreCategoria()}" />
             </div>

        </span>
<!--        <div class="alert alert-warning" role="alert" style="margin-top: 15px; font-size: 20px">-->
<!--            <b>Importante:</b> .....-->
<!--        </div>-->
    </div>
</div>


<div th:each="inscripcion : ${inscripciones}" class="modal fade" th:id="${inscripcion.getNombreCategoria() + 'Modal'}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: 30%">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Recordatorio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" th:text="${'Estás a punto de comenzar tu participación en ' +
              inscripcion.getNombreCategoria() + '. ' + (inscripcion.getNombreCategoria().equals('FMC') ? '¿Confirmas?'  : 'Debes estar grabando la pantalla ahora mismo y guardar el video hasta el final de la competición, se te podrá pedir en cualquier momento de la misma, ¿confirmas?')}">ERROR :(</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
                <button type="button" onclick="participar(this)" th:data-categoria="${inscripcion.getNombreCategoria()}" class="btn btn-primary">¡Comenzar!</button>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">

    function abrirRecordatorio(a) {

        if($(a).attr("data-comenzado") === 'true') {
            participar(a);
        } else {
            $('#' + $(a).attr("data-categoria") + 'Modal').modal('show');
        }
    }

    function participar(element) {
        window.location.href = '/participar/' + [[${nombreCompeticion}]] + '/' + $(element).attr("data-categoria");
    }


</script>
</body>
</html>