<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Autenticación WCA</title>
    <th:block th:include="fragments/head :: genericHead"></th:block>
    <link rel="stylesheet" href="/css/evento.css" />
    <link rel="stylesheet" href="/css/cubing-icons.css"/>
    <link rel="stylesheet" href="/css/tooltips.css"/>

    <script th:inline="javascript">
       if ([[${redirect}]]){
          window.location.href = [[${redirect}]];
       }
    </script>
</head>


<body class="cubosbg">
<div th:replace="fragments/backButton :: backButton"/>
<div class="vertical-flex-wrapper">
    <div class="whitePanel" style="margin-top: 300px; width: 80%; text-align: center">
        <h1 style="text-align: center;" > ¿En qué categoría quieres participar? </h1>
        <span th:each="inscripcion : ${inscripciones}">

                <div th:if="${!inscripcion.isParticipado()}" class="tooltip">
                     <a  th:href="'/participar/' + ${nombreCompeticion} + '/' +${inscripcion.getCategoria().getNombre()}">
                        <span th:class="${'cubing-icon event-' + inscripcion.getCategoria().getNombre()}">
                            <!-- ::before -->
                        </span>
                    </a>
                    <span class="tooltiptext" th:text="${inscripcion.getCategoria().getNombre()}" />
                </div>


             <div th:if="${inscripcion.isParticipado()}" class="tooltip">
                 <span  th:class="${'cubing-icon event-' + inscripcion.getCategoria().getNombre()}" style="width: 10px; position: relative">
                        <img src="/img/tick.png" style="width: 40px; position: absolute; left: 0"/>
                 </span>
                 <span class="tooltiptext" th:text="${inscripcion.getCategoria().getNombre()}" />
             </div>

        </span>
        <div class="alert alert-warning" role="alert" style="margin-top: 15px; font-size: 20px">
            <b>Importante:</b> Debes estar grabando antes de hacer click en la categoría. Debes guardar el video hasta el final de la competición, se te podrá pedir en cualquier momento de la misma. No debes cerrar la pestaña sin haber acabado, o los tiempos serán nulos.
        </div>
    </div>
</div>
</body>
</html>