<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Error</title>
    <th:block th:include="fragments/head :: genericHead"></th:block>
    <link rel="stylesheet" href="/css/evento.css"/>
    <script th:inline="javascript">
        if ([[${redirect}]]) {
            window.location.href = [[${redirect}]];
        }
    </script>
</head>


<body class="cubosbg">
<div th:replace="fragments/backButton :: backButton"/>
<div class="vertical-flex-wrapper" style=" text-align: center">
    <span class="whitePanel" style="margin-top: 200px; width: 80%">
    <img src="/img/DNF.png" style="width: 50%"></img>
    <h1 style="font-size: 400% !important;">INTERNAL ERROR</h1>
    <br/>
    <span style="font-size: 40px"> Esto es un error, por favor ponte en
            <a href="/#contacto">contacto</a> con el desarrollador y muéstrale esta traza de error: <br/><span
                style="font-size: 20px" th:text="${message}"/>
    </span>
</div>
</body>
        </html>