<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title th:text="${evento.getCategoria().nombre} + ' J' + ${numeroJornada} + ' en ' + ${nombreCompeticion}">Nacional Online 2020</title>
    <th:block th:include="fragments/head :: genericHead"></th:block>
    <th:block th:include="fragments/head :: datatablesHead"></th:block>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap" rel="stylesheet"/>
    <script type="text/javascript" src="/js/ScrollUtils.js"></script>

</head>

<script th:inline="javascript">
    $(document).ready(function () {


        var tabla = $('#rankingJornada');
        if (tabla) {
            initializeForParticipante(tabla, [[${evento.getCategoria().numTiempos}]], [[${evento.getCategoria().nombre}]], "No hay resoluciones en esta jornada por el momento.");
        }
        scrollAFila();
    });


    /* CAMBIAR URL MANTENIENDO ANCHORS */

    function navigateCategoryWithAnchor(a) {
        if($(a).attr("data-desiredCategory")) {
            window.location.href = window.location.href.replace(/\/[^\/]*\/jornada/, '/' + $(a).attr("data-desiredCategory") + '/jornada');
        }
    }

    function changeJornada(a) {
        if($(a).attr("data-desiredJornada")) {
            window.location.href = window.location.href.replace('jornada/' + [[${numeroJornada}]], 'jornada/' + ([[${numeroJornada}]] + parseInt($(a).attr("data-desiredJornada"))));
        }
    }

    function navigateToGeneral() {
        window.location.href = window.location.href.replace('jornada/' + [[${numeroJornada}]], '');
    }


</script>

<body class="cubosbg">
<div class="bouncyContainer back">
    <a th:href="'/competicion/' + ${nombreCompeticion}" class="bouncyContainer">
        <img class="bouncyButton" src="/img/backbutton.png"/>
    </a> <div class="tagNav"><h2 class="whitePanel" style="font-weight: bold; padding: 0 15px" th:text="${nombreCompeticion}"/></div>
</div>
<div class="vertical-flex-wrapper">
    <div class="whitePanel" style="margin-top: 15px;">
        <div style="display: flex; align-items: center; justify-content: center;">
            <div class="bouncyContainer backward" th:classappend="${anteriorEvento.isPresent() ? ' ' : 'quieto' }">
                <a th:data-desiredCategory="${anteriorEvento.isPresent() ? anteriorEvento.get().getCategoria().getNombre() : ''}"
                   th:onclick="'navigateCategoryWithAnchor(this)'" class="bouncyContainer">
                    <img class="bouncyButton backward" th:classappend="${anteriorEvento.isPresent() ? ' ' : 'quieto' }" src="/img/backbutton.png"/>
                </a>
            </div>
            <h1><span th:text="${nombreCategoria}">ATRIBUTO_CATEGORIA_NO_ENCONTRADO</span></h1>
            <div class="bouncyContainer forward" th:classappend="${siguienteEvento.isPresent() ? ' ' : 'quieto' }">
                <a th:data-desiredCategory="${siguienteEvento.isPresent() ? siguienteEvento.get().getCategoria().getNombre() : ''}"
                   th:onclick="'navigateCategoryWithAnchor(this)'" class="bouncyContainer">
                    <img class="bouncyButton forward"  th:classappend="${siguienteEvento.isPresent() ? ' ' : 'quieto'}" src="/img/forwardbutton.png"/>
                </a>
            </div>
        </div>
        <h1 style="text-align: center">
            en <br />
            <a th:href="${'/competicion/'+ nombreCompeticion}"><span th:text="${nombreCompeticion}"/></a>
        </h1>
    </div>
    <div class="whitePanel" style="margin-top: 15px;">
        <div style="display: flex; align-items: center;">
            <div class="bouncyContainer backward"  th:classappend="${numeroJornada <=1  ? 'quieto':' '}">
                <a th:onclick="'changeJornada(this)'" th:data-desiredJornada="${numeroJornada > 1} ? -1 : ''" class="bouncyContainer" style="cursor: pointer">
                    <img class="bouncyButton backward" th:classappend="${numeroJornada <=1  ? 'quieto':' '}" src="/img/backbutton.png"/>
                </a>
            </div>
            <h2><span th:text="'Jornada '+ ${numeroJornada}">ATRIBUTO_CATEGORIA_NO_ENCONTRADO</span></h2>
            <div  class="bouncyContainer forward" th:classappend="${numeroJornada >= numJornadas  ? 'quieto':' '}">
                <a th:onclick="'changeJornada(this)'"  th:data-desiredJornada="${numeroJornada < numJornadas} ? 1 : ''" class="bouncyContainer">
                    <img class="bouncyButton forward" th:classappend="${numeroJornada >= numJornadas  ? 'quieto':' '}" src="/img/forwardbutton.png"/>
                </a>
            </div>
        </div>
        <div style="display: flex; align-items: center; justify-content: center">

            <div class="bouncyContainer podio" style="width: 50px; height: 50px; min-width: 50px;">
                <a th:onclick="'navigateToGeneral()'" class="bouncyContainer">
                    <img class="bouncyButton podio" src="/img/podiologo.png"/>
                </a>
            </div>

            <h3> <a th:onclick="'navigateToGeneral()'" class="bouncyContainer">Ir al ranking general</a></h3>
        </div>
    </div>

   <div th:if="${mezcla != null}" class="whitePanel" style="margin-top: 15px;"><!-- Será null si no se cumplen las condiciones en el backend (que sea FMC y la jornada esté acabada) -->
        <div style="text-align: center">
            <h1>Mezcla</h1>
            <span style="font-size: xx-large" th:text="${mezcla.getTexto()}"/>
        </div>
    </div>

    <div class="whitePanel"
         style="margin-top: 15px; margin-left: 250px; margin-right: 250px; margin-bottom: 50px; z-index: 2; background-color: rgba(255,255,255,0.91)">
        <table id="rankingJornada" class="table centerCols">
            <thead>
            <tr>
                <th>Posición</th>
                <th>Participante</th>
                <th>Tiempo 1</th>
                <th>Tiempo 2</th>
                <th>Tiempo 3</th>
                <th>Tiempo 4</th>
                <th>Tiempo 5</th>
                <th>Single</th>
                <th>Media</th>
                <th>Solución</th>
                <th>Explicación</th>
                <th>Puntos Jornada</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tiempo: ${tiempos}" th:id="${tiempo.getParticipante().getNombre()}" class="trJornadas">
                <td style="font-weight: bold" th:text="${tiempo.posicion}" />
                <td><a th:text="${tiempo.getParticipante().getNombre()}"
                       th:href="'/participante/'+${tiempo.getParticipante().getNombre()}+'/' + ${nombreCompeticion} + '#' + ${nombreCategoria}" /></td>
                <td class="borderLeftColumn"> <span  th:class="${(tiempo.getTiempoDescartadoAbajo() == 1 ? 'badge badge-success ' : ' ') + (tiempo.getTiempoDescartadoArriba() == 1 ? 'badge badge-danger ' : '')}" th:text="${tiempo.getTiempo1Str()}" /></td>
                <td><span  th:class="${(tiempo.getTiempoDescartadoAbajo() == 2 ? 'badge badge-success ' : ' ') + (tiempo.getTiempoDescartadoArriba() == 2 ? 'badge badge-danger ' : '')}" th:text="${tiempo.getTiempo2Str()}" /></td>
                <td><span  th:class="${(tiempo.getTiempoDescartadoAbajo() == 3 ? 'badge badge-success ' : ' ') + (tiempo.getTiempoDescartadoArriba() == 3 ? 'badge badge-danger ' : '')}" th:text="${tiempo.getTiempo3Str()}" /></td>
                <td><span  th:class="${(tiempo.getTiempoDescartadoAbajo() == 4 ? 'badge badge-success ' : ' ') + (tiempo.getTiempoDescartadoArriba() == 4 ? 'badge badge-danger ' : '')}" th:text="${tiempo.getTiempo4Str()}" /></td>
                <td><span  th:class="${(tiempo.getTiempoDescartadoAbajo() == 5 ? 'badge badge-success ' : ' ') + (tiempo.getTiempoDescartadoArriba() == 5 ? 'badge badge-danger ' : '')}" th:text="${tiempo.getTiempo5Str()}" /></td>
                <td style="font-weight: bold;" class="borderLeftColumn" th:text="${tiempo.getSingleStr()}" />
                <td style="font-weight: bold" th:text="${tiempo.getMediaStr()}" />
                <td th:text="${tiempo.solucion}" />
                <td th:text="${tiempo.explicacion}" />
                <td style="font-weight: bold" th:text="${tiempo.getPuntosTotales()}" />
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>