<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Ficha Participante</title>
    <th:block th:include="fragments/head :: genericHead"></th:block>
    <script type="text/javascript" src="js/TiempoUtils.js"></script>

</head>
<script th:inline="javascript">

    $(document).ready(function () {
        $("#selectorParticipantes").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".dropdown-menu li").filter(function () {
                $(this).toggle($(this).text().toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "").indexOf(value) > -1)
            });
        });

        document.getElementById("botonSeleccionar").onclick = function () {
            if ($("#dropdown").hasClass("open")) {
                $("#dropdown").removeClass("open");
            } else {
                $("#dropdown").addClass("open");
            }

        }


        var ignore1 = document.getElementById('listaParticipantes');
        var ignore2 = document.getElementById('botonSeleccionar');
        document.addEventListener('click', function (event) {
            var isClickInsideElement = ignore1.contains(event.target) || ignore2.contains(event.target);
            if (!isClickInsideElement) {
                if ($("#dropdown").hasClass("open")) {
                    $("#dropdown").removeClass("open");
                }
            }
        });
    });

    $(document).keypress(function (e) {
        if (e.key === "Enter") {
            Array.from(document.getElementById("listaParticipantes").querySelectorAll("li")).filter(li => li.style.display != "none")[0].children[0].click();
        }

        if (!$("#dropdown").hasClass("open")) {
            $("#dropdown").addClass("open");
        }
        document.getElementById("selectorParticipantes").focus();
    });

    function irACategoria() {
        var s = document.getElementById("selectorCategoria");
       window.location = window.location + 'categoria/' + s.options[s.selectedIndex].value;
    }


</script>
<body class="cubosbg">
<div class="vertical-flex-wrapper">
    <div class="login-content">

        <div class="whitePanel left" style="margin-left: 0px;">
            <img src="/img/podiologo.png" width="200px" />
            <h2>Buscar ranking:</h2>
            <p style="font-size: large">Puedes ver los resultados generales y de cada jornada de una categoría:</p>

            <div style="width: 100%">

                <div style="display: flex; justify-content: center">
                    <h3 style="padding-right: 5px"> Categoría:</h3>

                    <select class="form-control form-control-lg miSelect" id="selectorCategoria">
                        <option th:each="categoria: ${categorias}" th:text="${categoria.nombre}"/>
                    </select>
                </div>
                <br/>
                <div style="display: flex; justify-content: center">
                    <h3 style="padding-right: 5px">Ranking:</h3>
                <select class="form-control form-control-lg miSelect" id="selectorRanking">
                    <option>Ranking general</option>
                    <option disabled="disabled">Jornada 1 (próximamente)</option>
                    <option disabled="disabled">Jornada 2 (próximamente)</option>
                </select>
                <script> document.getElementById("selectorCategoria").selectedIndex = -1;
                         // document.getElementById("selectorRanking").selectedIndex = -1; //TODO: descomentar y controlar
                </script>
                </div>
                <div class="bouncyContainer forward" style="margin: auto">
                    <a onclick="irACategoria()" class="bouncyContainer" style="cursor: pointer">
                        <img class="bouncyButton forward" src="/img/forwardbutton.png"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="whitePanel">
            <img src="/img/aes_logo.png" width = "300px" />
            <h1>Campeonato Nacional Online 2020</h1>
        </div>

        <div class="whitePanel right" style="margin-right: 0px">
            <img src="/img/userIcon.png" width="200px;" />
            <h2>Buscar participante:</h2>

            <p style="font-size: large">A continuación puedes buscar el nombre de un participante para ver sus resultados:</p>

            <div class="container" style="width: min-content">
                <div id="dropdown" class="dropdown">
                    <button id="botonSeleccionar" class="btn btn-primary dropdown-toggle" type="button"
                            data-toggle="dropdown">
                        Seleccionar participante
                        <span class="caret"></span></button>
                    <ul id="listaParticipantes" class="dropdown-menu">
                        <input id="selectorParticipantes" autocomplete="off" class="form-control" type="text"
                               placeholder="Busca..."/>
                        <li id="participante" th:each="participante : ${participantes}">
                            <a th:href="@{|/participante/${participante}|}" th:text="${participante}"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/footer :: creditFooter"/>
</div>


</body>
</html>