<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title th:text="${participante}"></title>
    <th:block th:include="fragments/head :: genericHead"></th:block>
    <th:block th:include="fragments/head :: datatablesHead"></th:block>
    <script type="text/javascript" src="/js/ScrollUtils.js"></script>
    <script type="text/javascript" src="/js/ModalUtils.js"></script>
    <link rel="stylesheet" href="/css/evento.css" />
    <link rel="stylesheet" href="/css/tooltips.css"/>
    <link rel="stylesheet" href="/css/cubing-icons.css"/>

</head>

<script>
    $(document).ready(function () {

        $('.tablaTiempos').each(function() {
                initializeForParticipante($(this), $(this).attr("data-numTiempos"), $(this).attr("data-nombreCat"), "El participante ha registrado sus tiempos, pero estarán ocultos hasta que finalizce la jornada.");
        });

        scrollAFila();

    });
</script>
<body class="cubosbg">
<div th:replace="fragments/backButton :: backButton"/>
<div class="vertical-flex-wrapper">
    <div class="whitePanel" style="margin-top: 15px;">
        <h1 style="text-align: center;">
            <a th:href="${'/participante/'+ participante}"><span th:text="${participante}"/></a> <!-- Puede que en el futuro: cambiar por <a th:href="${'/participante/'+ participante + '#' + competicion}"> -->
            <br /> en <br />
            <a th:href="${'/competicion/'+ competicion}"><span th:text="${competicion}"/></a>
        </h1>
    </div>
    <div th:id="${posicion.getNombreCategoria()}" th:each="posicion, iStat : ${resultado}"
         class="whitePanel"
         style="margin-top: 15px; margin-left: 250px; margin-right: 250px; margin-bottom: 50px; z-index: 2; position: relative;">

        <!-- Relative para la posición y el anchor-->
        <div th:if="${posicion.getPosicionGeneral() != 0 && !posicion.isPrimeraJornadaIsActiva()}" class="puntuacion whitePanel"> <!-- Si la posicion está calculada con una sola jornada no es relevante porque solo influye el orden alfabético -->
            <h1 th:text="${posicion.getPosicionGeneral() + 'ª POSICIÓN'}"
                th:style="'font-size: '+${posicion.getTamano()}+'px !important; align-self: center'"> Posición </h1>
        </div>
        <div style="display: flex; align-items: center">
            <span th:class="${'cubing-icon event-' + posicion.getNombreCategoria()}" style="margin-right: 10px;"><!-- ::before -->
            </span>
            <h1 th:text="${posicion.getNombreCategoria()}"></h1>
            <div class="bouncyContainer podio" style="width: 75px; height: 75px">
                <a th:href="'/ranking/' + ${nombreCompeticion} + '/' +${posicion.getNombreCategoria()}+'#'+${nombreParticipante}"
                   class="bouncyContainer">
                    <img class="bouncyButton podio" src="/img/podiologo.png"/>
                </a>
            </div>
            <a th:if="${posicion.isClasificado()}" href="#" onclick="loadModal(this)" th:data-nombreCategoria="${posicion.getNombreCategoria()}" th:data-nombreCompeticion="${posicion.getNombreCompeticion()}" data-toggle="modal" data-target="#playOffsModal">
                <h3 style="margin-left: 30px"> Clasificado a playoffs </h3>
                <div th:data-nombreCategoria="${posicion.getNombreCategoria()}" style="width: 75px; height: 75px">
                    <a onclick="loadModal(this)" th:data-nombreCategoria="${posicion.getNombreCategoria()}" th:data-nombreCompeticion="${posicion.getNombreCompeticion()}" data-toggle="modal" data-target="#playOffsModal" class="bouncyContainer">
                        <img class="bouncyButton" th:if="${posicion.getMedalla() != null}" th:src="'/img/'+${posicion.getMedalla()+'.png'}"/>
                        <img class="bouncyButton podio" th:if="${posicion.getMedalla() == null}"  src="/img/bracket.png"/>
                    </a>
                </div>
            </a>

        </div>
        <div th:if="${posicion.getPosicionGeneral() == 0}">El participante está inscrito, pero no ha participado.</div>
        <table th:if="${posicion.getPosicionGeneral() != 0}"  th:data-numTiempos="${posicion.getNumTiemposCategoria()}" th:data-nombreCat="${posicion.getNombreCategoria()}"
               class="table datatable centerCols tablaTiempos">
            <thead>
            <tr>
                <th>Jornada</th>
                <th>Posición</th>
                <th th:text="${posicion.getNombreCategoria().equals('FMC') ? 'Movimientos' : 'Tiempo 1'}" />
                <th>Tiempo 2</th>
                <th>Tiempo 3</th>
                <th>Tiempo 4</th>
                <th>Tiempo 5</th>
                <th>Single</th>
                <th>Media</th>
                <th>Solución</th>
                <th th:text="${posicion.getNombreCategoria().equals('FMC') ? 'Explicación' : 'Observaciones'}" />
                <th>Puntos Jornada</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${soyYo || tiempo.isJornadaIsAcabada()}" th:each="tiempo: ${posicion.getTiempos()}">
                <td>
                    <div style="display: flex">
                        <span class="bouncyContainer podio" style="width: 50px; height: 50px; min-width: 50px;">
                            <a  th:href="'/ranking/' + ${nombreCompeticion} + '/' +${posicion.getNombreCategoria()}+'/jornada/' + ${tiempo.getNumJornada()} + '#'+${nombreParticipante}"
                               class="bouncyContainer">
                                <img class="bouncyButton podio" src="/img/podiologo.png"/>
                            </a>
                        </span>
                        <span th:text="'Jornada ' + ${tiempo.getNumJornada()}" style="display: flex; align-items: center; width: max-content" />
                    </div>
                </td>
                <td th:if="${tiempo.isJornadaIsAcabada()}" style="font-weight: bold" th:text="${tiempo.getPosicion()}" />
                <td th:if="${!tiempo.isJornadaIsAcabada()}" style="font-weight: bold">
                    <div class="tooltip">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye-slash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                            <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299l.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
                            <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709z"/>
                            <path fill-rule="evenodd" d="M13.646 14.354l-12-12 .708-.708 12 12-.708.708z"/>
                        </svg>
                        <span class="tooltiptext">Este dato estará oculto hasta que finalice la jornada. Solo tú puedes ver tus tiempos de esta jornada.</span>
                    </div>
                </td>
                <td class="borderLeftColumn">
                    <span th:class="${(tiempo.getTiempoDescartadoAbajo() == 1 ? 'badge badge-success ' : ' ') + (tiempo.getTiempoDescartadoArriba() == 1 ? 'badge badge-danger ' : '')}"  th:text="${tiempo.getTiempo1Str()}" /></td>
                <td>
                    <span th:class="${(tiempo.getTiempoDescartadoAbajo() == 2 ? 'badge badge-success ' : ' ') + (tiempo.getTiempoDescartadoArriba() == 2 ? 'badge badge-danger ' : '')}"  th:text="${tiempo.getTiempo2Str()}" />
                </td>
                <td>
                    <span th:class="${(tiempo.getTiempoDescartadoAbajo() == 3 ? 'badge badge-success ' : ' ') + (tiempo.getTiempoDescartadoArriba() == 3 ? 'badge badge-danger ' : '')}"  th:text="${tiempo.getTiempo3Str()}" />
                </td>
                <td>
                    <span th:class="${(tiempo.getTiempoDescartadoAbajo() == 4 ? 'badge badge-success ' : ' ') + (tiempo.getTiempoDescartadoArriba() == 4 ? 'badge badge-danger ' : '')}"  th:text="${tiempo.getTiempo4Str()}" />
                </td>
                <td>
                    <span th:class="${(tiempo.getTiempoDescartadoAbajo() == 5 ? 'badge badge-success ' : ' ') + (tiempo.getTiempoDescartadoArriba() == 5 ? 'badge badge-danger ' : '')}"  th:text="${tiempo.getTiempo5Str()}" />
                </td>
                <td style="font-weight: bold;" class="borderLeftColumn" th:text="${tiempo.getSingleStr()}" />
                <td style="font-weight: bold" th:text="${tiempo.getMediaStr()}" />
                <td th:text="${tiempo.getSolucion()}" />

                <td style="font-weight: bold">
                    <div th:if="${tiempo.getExplicacion() != null && !tiempo.getExplicacion().isEmpty()}" class="tooltip">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-text" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                        <span class="tooltiptext" th:utext="${tiempo.getExplicacion() == null ? null : #strings.escapeXml(tiempo.getExplicacion()).replaceAll('\n', '&lt;br /&gt;')}"/>
                    </div>
                </td>
                <td th:if="${tiempo.isJornadaIsAcabada()}" style="font-weight: bold" th:text="${tiempo.getPuntuacionTotal()}" />
                <td th:if="${!tiempo.isJornadaIsAcabada()}" >
                    <span class="tooltip">
                         <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye-slash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                            <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299l.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
                            <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709z"/>
                            <path fill-rule="evenodd" d="M13.646 14.354l-12-12 .708-.708 12 12-.708.708z"/>
                        </svg>
                        <span class="tooltiptext">Este dato estará oculto hasta que finalice la jornada. Solo tú puedes ver tus tiempos de esta jornada.</span>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="playOffsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #eaeaea">
            <div class="modal-header">
                <h2 th:text="${'PlayOffs '}" class="modal-title" id="exampleModalLabel">(título)</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="cuerpoModal" class="fixedBracket"></div>
            </div>

        </div>
    </div>
</div>



<script th:inline="javascript">

    function loadModal(activador) {

        var nombreCategoria = $(activador).attr("data-nombreCategoria");
        var nombreCompeticion = $(activador).attr("data-nombreCompeticion");

        loadBracket(nombreCategoria, nombreCompeticion, "cuerpoModal", true);
    }

</script>
</body>
</html>