<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Mis tiempos</title>
    <th:block th:include="fragments/head :: genericHead"></th:block>
    <th:block th:include="fragments/head :: datatablesHead"></th:block>

</head>

<script>
    $(document).ready(function () {

        var numberOfTables = 0;

        do {
            var tabla = $('#dataTable' + numberOfTables);
            if (tabla) {initializeForParticipante(tabla, tabla.attr("data-numTiempos"), tabla.attr("data-nombreCat"));}
            numberOfTables++;
        } while (tabla.length && numberOfTables < 100)

    });
</script>
<body class="cubosbg">
    <div class="backContainer">
        <a href="/" class="backContainer">
            <img class="backButton" src="/img/backbutton.png"/>
        </a>
    </div>
<div class="vertical-flex-wrapper">
    <div class="whitePanel" style="margin-top: 15px;">
        <h1><span th:text="${participante}">ATRIBUTO_USUARIO_NO_ENCONTRADO</span></h1>
    </div>
    <div th:each="categoria, iStat : ${resultado.getCategoriasParticipadas()}" class="whitePanel"
         style="margin-top: 15px; margin-left: 250px; margin-right: 250px; margin-bottom: 50px; z-index: 2; position: relative;"> <!-- Relative para la posición y el anchor-->
        <a th:name="${categoria.nombre}" style="position: absolute; top: -100px"></a>
        <h1 class="puntuacion whitePanel" th:text="${categoria.posicion} + 'ª POSICIÓN'" th:style="'font: '+${categoria.tamano}+'px Helvetica, Sans-Serif'"></h1>

        <h1 th:text="${categoria.nombre}"></h1>
        <table th:data-numTiempos="${categoria.numTiempos}" th:data-nombreCat="${categoria.nombre}" th:id="'dataTable'+ ${iStat.index}" class="table centerCols"
               th:name="${categoria.nombre}">
            <thead>
            <tr>
                <th>Jornada</th>
                <th>Posición</th>
                <th>Tiempo 1</th>
                <th>Tiempo 2</th>
                <th>Tiempo 3</th>
                <th>Tiempo 4</th>
                <th>Tiempo 5</th>
                <th>Single</th>
                <th>Media</th>
                <th>Solución</th>
                <th>Explicación</th>
                <th>Puntos Jornada</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="jornada: ${categoria.getJornadasParticipadas()}">
                <td th:text="'Jornada ' + ${jornada.numJornada}"></td>
                <td style="font-weight: bold" th:text="${jornada.posicion}"></td>
                <td class="borderLeftColumn" th:text="${jornada.tiempo1}"></td>
                <td th:text="${jornada.tiempo2}"></td>
                <td th:text="${jornada.tiempo3}"></td>
                <td th:text="${jornada.tiempo4}"></td>
                <td th:text="${jornada.tiempo5}"></td>
                <td style="font-weight: bold;" class="borderLeftColumn" th:text="${jornada.single}"></td>
                <td style="font-weight: bold" th:text="${jornada.media}"></td>
                <td th:text="${jornada.solucion}"></td>
                <td th:text="${jornada.explicacion}"></td>
                <td style="font-weight: bold" th:text="${jornada.puntos}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>