<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Podios</title>
    <th:block th:include="fragments/head :: genericHead"></th:block>
    <th:block th:include="fragments/head :: datatablesHead"></th:block>
    <script type="text/javascript" src="/js/ScrollUtils.js"></script>

</head>

<body class="cubosbg">
<div th:replace="fragments/backButton :: backButton"/>
<div class="vertical-flex-wrapper">
    <div class="whitePanel" style="margin-top: 15px; margin-bottom: 75px">
        <h1><span th:text="${'PODIOS DE ' + nombre}"/></h1>
    </div>

    <div style="display: flex; flex-wrap: wrap; justify-content: center; width: 90%;">
        <div th:each="podio, iStat: ${podios}"
             class="whitePanel"
             style="margin-top: 20px; margin-left: 20px; margin-right: 20px; margin-bottom: 20px; z-index: 2; text-align: center;">


            <h1 th:text="${podio.getKey().getNombre()}"></h1>

            <div style="align-items: center">

                <div style=" text-align: left" th:with="nombreParticipante  = ${podio.getValue().get(0).getParticipante().getNombre()}">
                    <img src="/img/gold.png" style="width: 50px; margin-right: 10px;  "/>
                    <a th:href="'/participante/'+${nombreParticipante}+'#'+${podio.getKey().getNombre()}" th:style="${nombreParticipante.equals('-')} ? 'pointer-events: none' : '' ">
                    <span style="font-weight: bolder" th:text="${nombreParticipante}"> </span>
                    </a>
                </div>
                <div style=" text-align: left" th:with="nombreParticipante  = ${podio.getValue().get(1).getParticipante().getNombre()}">
                    <img src="/img/silver.png" style="width: 50px; margin-right: 10px;  "/>
                    <a th:href="'/participante/'+${nombreParticipante}+'#'+${podio.getKey().getNombre()}" th:style="${nombreParticipante.equals('-')} ? 'pointer-events: none' : '' ">
                        <span style="font-weight: bolder" th:text="${nombreParticipante}"> </span>
                    </a>
                </div>
                <div style=" text-align: left" th:with="nombreParticipante  = ${podio.getValue().get(2).getParticipante().getNombre()}">
                    <img src="/img/bronze.png" style="width: 50px; margin-right: 10px;  "/>
                    <a th:href="'/participante/'+${nombreParticipante}+'#'+${podio.getKey().getNombre()}" th:style="${nombreParticipante.equals('-')} ? 'pointer-events: none' : '' ">
                        <span style="font-weight: bolder" th:text="${nombreParticipante}"> </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>