<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Podios</title>
    <th:block th:include="fragments/head :: genericHead"></th:block>
    <th:block th:include="fragments/head :: datatablesHead"></th:block>
    <script type="text/javascript" src="/js/ScrollUtils.js"></script>

</head>

<body class="cubosbg">
<div class="bouncyContainer back">
    <a th:href="'/competicion/' + ${nombre}" class="bouncyContainer">
        <img class="bouncyButton" src="/img/backbutton.png"/>
    </a> <div class="tagNav"><h2 class="whitePanel" style="font-weight: bold; padding: 0 15px" th:text="${nombre}"/></div>
</div>

<div class="vertical-flex-wrapper">
    <div class="whitePanel" style="margin-top: 15px; margin-bottom: 175px">
        <h1> Podios de <a th:text="${nombre}" th:href="${isCompeticion ? '/competicion/' : '/temporada/'} + ${nombre}"/></h1>
    </div>

    <div style="display: flex; flex-wrap: wrap; justify-content: center; width: 90%;">
        <div th:each="podio, iStat: ${podios}"
             class="whitePanel"
             style="margin-top: 20px; margin-left: 20px; margin-right: 20px; margin-bottom: 20px; z-index: 2; text-align: center;">


            <h1 th:text="${podio.getKey().getNombre()}"/>

            <div style="align-items: center">

                <div th:each="posicion : ${podio.getValue()}" style=" text-align: left" th:with="nombreParticipante  = ${posicion.getParticipante().getNombre()}">
                    <img th:src="'/img/'+${posicion.getRonda()}+'.png'" style="width: 50px; margin-right: 10px;  "/>
                    <a th:href="'/participante/'+${nombreParticipante}+'/'+ ${nombre} +'#'+${podio.getKey().getNombre()}" th:style="${nombreParticipante.equals('-')} ? 'pointer-events: none' : '' ">
                    <span style="font-weight: bolder" th:text="${nombreParticipante}"> </span>
                    </a>
                </div>


            </div>
        </div>
    </div>
</div>
</body>
</html>