<html xmlns:th="https://www.thymeleaf.org">
<head>

    <th:block th:include="fragments/head :: genericHead"></th:block>
    <meta property="og:title" th:content="'Temporada de ' +${nombreTemporada}" />
    <meta property="og:description"  th:content="${'Toda la información sobre la Temporada de ' + nombreTemporada +'.'}"/>
    <meta property="og:image" content="https://aesonline.speedcubingspain.org/img/corona.png" />
    <title th:text="${'Temporada ' + nombreTemporada}"/>
    <script type="text/javascript" src="/js/ModalUtils.js"></script>
    <link rel="stylesheet" href="/css/cubing-icons.css"/>
    <link rel="stylesheet" href="/css/calendario.css"/>
</head>


<body class="cubosbg">
<div th:replace="fragments/backButton :: backButton"/>
<div th:if="${timeline.get(timeline.size()-1).getJornada().isAcabada()}" class="bouncyContainer forth">
    <a th:href="'/podios/' + ${nombreTemporada}" class="bouncyContainer">
        <img class="bouncyButton makeSmaller" src="/img/podiologo.png"/>
    </a> <div class="tagNav"><h2 class="whitePanel" style="font-weight: bold; padding: 0 15px">PODIOS</h2></div>
</div>
<div class="vertical-flex-wrapper">
    <div class="whitePanel" style="margin-top: 75px; max-width: 40%; text-align: center">
        <div style="display: flex; align-items: center; justify-content: center">
            <img src="/img/corona.png" style="width: 130px; height: 130px"/>
            <h1 th:text="'Temporada ' + ${nombreTemporada}"/>
            <img src="/img/corona.png" style="width: 130px; height: 130px"/>
        </div>
    </div>
    <div class="whitePanel" style="margin-top: 75px; width: 80%; text-align: center;">
        <div>
            <h2>La Temporada <span th:text="${nombreTemporada}"/> está formada por las siguientes jornadas:</h2>
            <h3>En cada una de ellas, los participantes compiten con el resto de integrantes de su división por los
                primeros puestos.</h3>
            <br/>
            <table class="datatable table centerCols" style="width: auto; margin: auto; background-color: white;">
                <tbody>
                <tr>
                    <td>
                        Categoría:
                    </td>
                    <td th:each="clasificacion : ${clasificaciones}">
                        <span th:class="${'cubing-icon event-' + clasificacion.getCategoria().getNombre()}"
                              style="width: 10px;"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Clasificados a playoffs:
                    </td>
                    <td th:each="clasificacion : ${clasificaciones}">
                        <span th:text="${clasificacion.getTamanoDivisiones() - 4}"/>
                    </td>
                </tr>
                </tbody>
            </table>
            <br/>
            <h5>Toda la información sobre el funcionamiento de las divisiones está en <a href="/#liga">este link</a>.
            </h5>
            <br/>
        </div>
    </div>
    <div style="width: 80%; display: flex; justify-content: center">
            <div style="width: 50%; text-align: center" class="whitePanel">
                <h2>Horario playoffs</h2>
                <th:block th:if="${dias.size() > 0}" th:include="fragments/calendario :: calendario" />
                <span th:if="${dias.size() == 0}">Los horarios se publicarán semanas antes del final de la temporada.</span>
            </div>
            <div style="width: 50%; text-align: center;" class="whitePanel">
                <h2>Puedes hacer click en cualquiera de las categorías para ver el estado de las clasificaciones tal
                    cual estaba en ese momento:</h2>
                <br/>
                <div th:each="timelinepoint, iStat : ${timeline}">
                    <div>
                        <h3 th:text="${'Jornada ' + timelinepoint.getJornada().getNumeroJornada() + ' del ' + timelinepoint.getJornada().getCompeticion().getNombre()}"/>
                    </div>
                    <div style="display: flex; justify-content: center">
                        <div th:if="${timelinepoint.getJornada().isAcabada()}"
                             th:each="clasificacion : ${clasificaciones}">
                            <a th:href="${ '/temporada/' + nombreTemporada + '/competicion/' + timelinepoint.getJornada().getCompeticion().getNombre() +'/jornada/' + timelinepoint.getJornada().getNumeroJornada() + '/categoria/' + clasificacion.getCategoria().getNombre()}">
                                <span th:class="${'cubing-icon event-' + clasificacion.getCategoria().getNombre() + ' clicker'}"
                                      style="width: 10px;"/>
                            </a>
                        </div>
                        <h4 th:if="${!timelinepoint.getJornada().isAcabada()}">
                            Cuando finalice esta temporada podrás ver el estado de las divisiones.
                        </h4>
                    </div>
                    <img th:if="${timeline.size() != iStat.count}" src="/img/forwardbutton.png"
                         style="width: 35px; margin: 10px 0; transform: rotate(90deg)"/>
                </div>
                <img src="/img/forwardbutton.png" style="width: 75px; margin: 10px 0; transform: rotate(90deg)"/>
                <h2 th:text="'Playoffs de la Temporada ' + ${nombreTemporada}"/>
                <div th:if="${timeline.get(timeline.size()-1).getJornada().isAcabada()}">
                    <h3>Puedes ver los brackets de los playoffs eligiendo una categoría:</h3>
                    <br/>
                    <div style="display: flex; justify-content: center">
                        <div th:each="clasificacion : ${clasificaciones}">
                            <a onclick="loadModal(this)" th:data-nombreCategoria="${clasificacion.getCategoria().getNombre()}" th:data-nombreTemporada="${nombreTemporada}"
                               data-toggle="modal" data-target="#playOffsModal">
                                    <span th:class="${'cubing-icon event-' + clasificacion.getCategoria().getNombre() + ' clicker'}"
                                          style="width: 10px;"/>
                            </a>
                        </div>
                    </div>
                </div>
                <div th:if="${!timeline.get(timeline.size()-1).getJornada().isAcabada()}">
                    <h3>Podrás ver aquí los brackets de los playoffs cuando finalice la última jornada de la temporada.</h3>
                </div>
                <br/>
                <h3>Se retransmitirán en el <a href="https://www.twitch.tv/aespeedcubing">Twitch de la AES</a>.</h3>
                <br/>
            </div>
        </div>
</div>

<div class="modal fade" id="playOffsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #eaeaea">
            <div class="modal-header">
                <h2 th:text="${'PlayOffs '}" class="modal-title" id="exampleModalLabel">(título)</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="cuerpoModal" class="fixedBracket"></div>
            </div>

        </div>
    </div>
</div>
<script>
    function loadModal(activador) {
        var nombreCategoria = $(activador).attr("data-nombreCategoria");
        var nombreTemporada = $(activador).attr("data-nombreTemporada");
        loadBracket(nombreCategoria, nombreTemporada, "cuerpoModal", false);
    }
</script>
</body>
</html>